body {
    font-family: 'Open Sans', sans-serif;
    background-image: url("Background.jpg");
    background-size: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    background-color: none;
    padding-left: 100px;
    padding-right: 100px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-style: groove;
    border-color: black;
    padding-right: 15px;
    background-image: url("https://previews.123rf.com/images/rclassenlayouts/rclassenlayouts1403/rclassenlayouts140300102/26712503-bier-tautropfen-bierschaum-glasgoldkrone-schaumwelle-oktober-kondensieren-brauereigastst%C3%A4tte-pils.jpg");
    background-size: 160px;
    background-repeat: repeat-x;
    background-position: center;
}

.headline {
    color: rgb(0, 0, 0);
    border-style: inset;
    border-color: whitesmoke;
    border-radius: 30px;
    border-width: 2px;
    width: 230px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 5px;
    padding-bottom: 10px;
    padding-top: 5px;
    text-align: center;
    font-size: 500;
}

a {
    color: rgba(27, 8, 244, 0.635);
    text-decoration: dashed;
    margin-left: 16px;
    font-weight: 700;
}

.links:hover {
    text-decoration: underline;
    text-decoration-thickness: 20%;
    text-decoration-color: yellow;
    text-transform: uppercase;
}